#page_bg { padding-top:0px !important;}
#es_bar_container { position:fixed; top:0; width:100%; z-index:999999999999999;}
#es_bar { width:408px; height:33px; margin:0 auto; background:url('imgs/bottom.png') bottom left no-repeat; text-align:center; color:#FFFFFF; }
#es_bar a, #es_bar a.visited { color:#ffffff;}
#es_bar_hidden {width:408px; height:414px; padding-top:10px; margin:0 auto; background:url('imgs/top.png') bottom left no-repeat; text-align:center; color:#FFFFFF; display:none;}
#es_bar_hidden span { width:300px; text-align:left; display:block; margin:0 auto;}
#es_bar_hidden input[type='text'] { width:348px; margin-bottom:19px; }
#es_bar_hidden textarea {width:348px; margin-bottom:10px;}
div.es_bar_1,div.es_bar_2,div.es_bar_3 { width:362px; text-align:left; padding-left:25px; position:relative;}
input#description_count, input#keywords_count { width:29px !important; top:-5px; left:355px; position:absolute; border:none; background:none; text-align:right;} 
div.es_bar_1 input { margin-top:88px;}
div.es_bar_2 textarea { margin-top:17px; height:90px;}
div.es_bar_3 textarea { margin-top:15px; height:90px;}
#es_bar_hidden input[type='submit'] { float:right; margin-right:26px;}
#es_bar_container input, #es_bar_container textarea { font:Arial, Helvetica, sans-serif; font-size:12px; color:#0099FF; text-align:left;}
#es_bar div.es_bar_right { width:328px; height:33px; float:right;}
#es_bar div#glights { background:url(imgs/glicon_bg.png) top left repeat; height:16px;  margin-left:60px; float:left; margin-top:5px; width:48px;}
#es_bar div#lights { background:url(imgs/glicon.png) top left repeat; height:16px; float:left; min-width:0px;}
#es_bar div.es_bar_left { width:80px; height:33px; float:left;}
#es_bar div.es_bar_left input[type='submit'] { background:none; border:none; color:#FFFFFF; text-decoration:underline; margin-top:2px; margin-left:12px;}
#es_bar_hidden form { background:none !important;}