
#nextend-accordion-menu-121-1-container-inner{
  overflow: hidden;
}

div#nextend-accordion-menu-121-1-container div,
div#nextend-accordion-menu-121-1-container dl,
div#nextend-accordion-menu-121-1-container dt,
div#nextend-accordion-menu-121-1-container dd,
div#nextend-accordion-menu-121-1-container span,
div#nextend-accordion-menu-121-1-container a,
div#nextend-accordion-menu-121-1-container img,
div#nextend-accordion-menu-121-1-container h3{
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  float: none;
  clear: none;
  line-height: normal;
  position: static;
  list-style: none;
}

.dj_ie7 #nextend-accordion-menu-121-1-container div,
.dj_ie7 #nextend-accordion-menu-121-1-container dl,
.dj_ie7 #nextend-accordion-menu-121-1-container dt,
.dj_ie7 #nextend-accordion-menu-121-1-container dd,
.dj_ie7 #nextend-accordion-menu-121-1-container span,
.dj_ie7 #nextend-accordion-menu-121-1-container a,
.dj_ie7 #nextend-accordion-menu-121-1-container img,
.dj_ie7 #nextend-accordion-menu-121-1-container h3{
  width: 100%;
}

#nextend-accordion-menu-121-1-container span,
#nextend-accordion-menu-121-1-container a,
#nextend-accordion-menu-121-1-container img{
  vertical-align: middle;
}

div#nextend-accordion-menu-121-1-container img{
  margin: 0 4px;
}

#nextend-accordion-menu-121-1-container dl.level1 dl{
  position: absolute;
    width: 100%;
}

#nextend-accordion-menu-121-1-container dl.level1 dd{
  display: block;
  overflow: hidden;
  height: 0px;
  width: 100%;
  margin: 0;
  position: relative;
}

.dj_ie #nextend-accordion-menu-121-1-container dl.level1 dd{
  display: none;
}

#nextend-accordion-menu-121-1-container dl.level1 dd.opening, 
#nextend-accordion-menu-121-1-container dl.level1 dd.closing,
#nextend-accordion-menu-121-1-container dl.level1 dd.opened{
  display: block;
}

#nextend-accordion-menu-121-1-container dl.level1 dd.parent.opened{
  height: auto;
}

#nextend-accordion-menu-121-1-container dl.level1 dd.parent.opened > dl{
  position: relative;
}			#nextend-accordion-menu-121-1-container{
  margin: Arraypx Arraypx Arraypx Arraypx ;
}

#nextend-accordion-menu-121-1-container .nextend-accordion-menu-121-1-container-inner {
  overflow: hidden;
  width: 100%;
}

#nextend-accordion-menu-121-1-container dl,
#nextend-accordion-menu-121-1-container dt{
  display: block;
  position: relative;
}

#nextend-accordion-menu-121-1-container .title{
  background: none;
  min-height: 36px;
}

#nextend-accordion-menu-121-1-container .title h3{
  margin: 0;
  padding: 5px 0;
  min-height: 26px;	
  
  box-shadow:inset 0px 0px 1px RGBA(255,255,255,0.7);
  /*
  border: solid 1px RGBA(0,0,0,0.1);
  */
  
  /*font chooser*/
    /*font chooser*/
}

#nextend-accordion-menu-121-1-container dl,
#nextend-accordion-menu-121-1-container dt,
#nextend-accordion-menu-121-1-container dd{
  position: relative;
}

#nextend-accordion-menu-121-1-container dl.level2 dt.last{
  margin-bottom: 0px;
}

/*
Level specific iteration
*/

#nextend-accordion-menu-121-1-container dl.level1 .inner{
  display: block;
  padding: Arraypx Arraypx Arraypx Arraypx ;
  margin: 0 6px;
}

.dj_ie6 #nextend-accordion-menu-121-1-container dl.level1 .inner a,
.dj_ie7 #nextend-accordion-menu-121-1-container dl.level1 .inner a{
  float: left;
}

/*
Productnum
*/
#nextend-accordion-menu-121-1-container dl.level1 dt .inner .productnum{
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid #bcbcbc;
  line-height: 14px;
  float: right;  
  border-radius: 9px;
  font-size: 10px;
  margin-top: 2px;
  margin-left: 5px;
  }

.dj_ie7 #nextend-accordion-menu-121-1-container dl.level1 dt .inner span {
  float: left;
}

.dj_ie7 #nextend-accordion-menu-121-1-container dl.level1 dt .inner .productnum.one{
  padding-left: 6px;
  padding-right: 4px;
}

.dj_ie7 #nextend-accordion-menu-121-1-container dl.level1 dt .inner .productnum.more{
  padding-left: 4px;
  padding-right: 6px;
}

.dj_ie7 #nextend-accordion-menu-121-1-container dl.level1 dt .inner .productnum{
  width: 10px;
  position: relative;
  float: right;
  margin-right: 50px;
  margin-top: -20px;
}

.dj_ie9 #nextend-accordion-menu-121-1-container dl.level1 dt .inner .productnum {
  line-height: 12px;
  padding-top: 2px;
}

.dj_ie9 #nextend-accordion-menu-121-1-container dl.level2 dt .inner .productnum {
  line-height: 12px;
  padding-top: 1px;
}


#nextend-accordion-menu-121-1-container dl.level1 dt .inner .productnum.one{
  padding-left: 8px;
  padding-right: 8px;
}

#nextend-accordion-menu-121-1-container dl.level1 dt .inner .productnum.more{
  padding-left: 6px;
  padding-right: 6px;
}
/*
Plus
*/
#nextend-accordion-menu-121-1-container dl.level1 dt.parent .inner{
  background-image: url('/proyecto-tsb/modules/mod_accordion_menu/cache/121-langes-ES/f691025cde94e383ec78bb3a7099785c.png');
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

/*
Minus
*/
#nextend-accordion-menu-121-1-container dl.level1 dt.parent.opened .inner,
#nextend-accordion-menu-121-1-container dl.level1 dt.parent.opening .inner{
  background-image: url('/proyecto-tsb/modules/mod_accordion_menu/cache/121-langes-ES/f691025cde94e383ec78bb3a7099785c.png');
  background-repeat: no-repeat;
  background-position: left center;
}
#nextend-accordion-menu-121-1-container .level1 dt{
  margin: Arraypx Arraypx Arraypx Arraypx ;
  margin-bottom: 0px;
  border-width: 0px 0px 1px 0px ;
  border-color: ffffff;
  border-style: solid;
  
}
#nextend-accordion-menu-121-1-container .level1 dt.last{
  margin: 0||px|*|0||px|*|0||px|*|0||px|*|px|*|;
}

#nextend-accordion-menu-121-1-container dl.level1 dt span{
  /*font chooser*/
    /*font chooser*/
}

#nextend-accordion-menu-121-1-container dl.level1 dt a,
#nextend-accordion-menu-121-1-container dl.level1 dt a span{
  /*font chooser*/
    /*font chooser*/
  background: transparent;
}

#nextend-accordion-menu-121-1-container dl.level1 dt a:HOVER,
#nextend-accordion-menu-121-1-container dl.level1 dt a:HOVER span,
#nextend-accordion-menu-121-1-container dl.level1 dt span:HOVER{
  /*font chooser*/
    /*font chooser*/
}

#nextend-accordion-menu-121-1-container dl.level1 dt.opening a,
#nextend-accordion-menu-121-1-container dl.level1 dt.opening a span,
#nextend-accordion-menu-121-1-container dl.level1 dt.opened a,
#nextend-accordion-menu-121-1-container dl.level1 dt.opened a span,
#nextend-accordion-menu-121-1-container dl.level1 dt.active a,
#nextend-accordion-menu-121-1-container dl.level1 dt.active a span{
  /*font chooser*/
    /*font chooser*/
}

