//estilos base de todo el proceso de anuncios

h2{
	text-align: left;
	font-family: @open;
	font-size: 24px;
	color: #67A4FB;
	margin-bottom: 25px;
}

 textarea,  input[type="text"], input[type="password"], input[type="email"] {
	background-color: #ECECEC;
	margin-bottom: 10px;
	width: 50%;
	border: 1px solid #cccccc;
	padding: 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

label{
	width: 51%;
	display: inline-block;
	text-align: left;
	font-family: @open;
	font-size: 14px;
	color: #555555;
}


input[type="submit"], button[type="submit"]{
	margin-right: 5px;
	background-color: @azul;
	background-image: none;
	font-family:@open;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	width: 90px;
	color: #fff;
	cursor: pointer;

	&:hover{
		background-color: @darkhover;
	}
}
input[type="reset"], button[type="reset"], button{
	margin-right: 5px;
	background-color: @azul;
	background-image: none;
	font-family: @open;
	font-size: 14px;
	border: none;
	border-radius: 3px;
	margin-right: 10px;
	color: #fff;
	cursor: pointer;

	a{ color: #fff; text-decoration: none;}

	&:hover{background-color: @darkhover;}
}



			