#content-all{
	width: 650px;
	float: right;
	margin-bottom: 55px;
	padding-right: 50px;

	h1{
		text-align: left;
		font-family: @open;
		font-size: @titlefont;
		color: @tituloscat;
		margin-bottom: 15px;
	}

	.category_description{
		font-family: @open;
		font-size: @normalFont;
		text-align: justify;
	}

	.browse-view{
		margin-top: 40px;

		.orderby-displaynumber{
			display: none;
		}

		.horizontal-separator{
			display: none;
		}

		.row{
			margin-bottom: 20px;

			.spacer {
				border: 1px solid #b1b1b1;
				padding: 13px;
				box-shadow: 2px 1px 9px rgba(0,0,0,0.4);
				border-radius: 7px;

				.width30{
					width: 40%;

					img{
						float: left;
						border-top: 2px solid #9FA7AE;
						border-right: 1px solid #000;
						border-left: 1px solid #000;
						border-bottom: 1px solid #000;
						height: 119px;
					}
				}

				.width70{
					width: 60%;

					h2{
						text-align: left;
						float: left;

						a{
							font-family: @open;
							font-size: @mediumFont;
							color: @tituloscat;
							text-decoration: none;
							font-weight: bold;	
						}
					}

					p.product-operation{
						float: right;
						font-family: @open;
						font-size: @mediumFont;
						font-weight: bold;	
						color: #F7931E;
					}

					p.product_s_desc{
						font-family: @open;
						font-size: @normalFont;
						text-align: justify;
						line-height: 19px;
						margin: 19px 0;
						float: left;

						span{
							float: left;
							margin-top: -26px;
							color: @tituloscat;
						}
					}

					.product-price{
						float: left;
						margin-top: 0;

						.PricesalesPrice{
							color: @black;

							span{
								color: @red;
								font-weight: bold;
							}
						}
					}

					.regresar{
						float: right;

						a{
							background: #63A1FB;
							color: #FFFFFF;
							font-weight: 600;
							border-radius: 0;
							border:none;
							font-family: @open;	
							padding: 4px 14px;
						}
					}
				}
			}
		}

		.vm-pagination{
			float: left;
			width: 100%;
			margin-top: 20px;
			margin-bottom: 67px;

			ul{

				li{
					margin: 0 3px;

					a{
						padding: 0px 7px;
						background: #F9F9FA;
						border: 1px solid #aeadb3;
						text-decoration: none;
						color: #4d4d4d;
						border-radius: 3px;
					}

					span, .active{
						padding: 0px 7px;
						background: @tituloscat;
						border: 1px solid #FFF;
						color: #FFFFFF;
						border-radius: 3px;
						box-shadow: 0px 0px 0px 2px #67A4FB;
					}
				}

				.pagination-start{

					a, span{
						border-radius: 10px 0px 0px 10px;
						border: none;
						background: none;
						font-family: @open;
						font-size: @middlefont;
						color: #4d4d4d;
						box-shadow: none;
					}
				}

				.pagination-end{

					a, span{
						border-radius: 0px 10px 10px 0px;
						border: none;
						background: none;
						font-family: @open;
						font-size: @middlefont;
						color: #4d4d4d;
						box-shadow: none;
					}
				}

				.pagination-next, .pagination-prev{

					a, span, .active{
						font-weight: bold;
						background: #F9F9FA;
						color: #4d4d4d;
						border: 1px solid #aeadb3;
						box-shadow: none;
					}
				}
			}
		}
	}


	.productdetails-view{
		min-height: 1356px;

		.icons, .product-short-description, .addtocart-area{
			display: none;
		}

		h1{ margin-bottom: 0; }

		.categories{
			text-align: justify;
			padding: 0 0 17px;
		}

		.width60{
			margin-left: -10px;
			width: 54% !important;

			.MagicToolboxSelectorsContainer{
				margin-top: 10px !important;
				border: 1px solid #CCC;
				margin: 10px 9px 0px;
				width: 322px !important;

				.MagicScrollContainer{
					left: 27px !important;
					top: 5px;
				}

					
				.MagicScrollArrows{ top: 20.5px !important; }

				.MagicScrollArrowRight{ left: 299px !important; }
			}
		}

		.width40{
			width: 47% !important;

			.spacer-buy-area{
				padding: 0;
			}

			.PricesalesPrice{
				width: 100%;
				text-align: justify;

				span{
					color: #C1272D; 
				}
				
			}

			.product-price{
				margin-top: 12px;
			}

			.info{
				height: auto;
				min-height: 200px;
				width: 98%;
				border: 1px solid #E1E1E1;
				border-radius: 4px;
				padding: 4px;

				.info-top{
					width: 94%;
					display: inline-block;
					border-bottom: 2px solid #CCC;
					padding-bottom: 7px;
					margin-bottom: 5px;

					ul{ 
						display: inline-block; 
						width: 100%;

						li{ text-align: justify; }

						span{ 
							font-size: 15px;  

							&.vendor{
								font-size: 13px;
							}
						}


					}

					.vendedor{
						margin-top: 5px;

						li{
							width: 40%;
							float: left;
							display: inline-block;

							span{ font-size: 15px; }

							.label-user{ color: #63A1FB; }

							.user{ color: #F9A748; }

							&:first-child{ text-align: left; }

							&:last-child{ text-align: right; width: 60%; }
						}
					}

					.datos{
						margin-top: 8px;

						li{
							margin-bottom: 7px;

							label{
								width: 92%;
								margin-left: 4px;
							}

							&:first-child{
								label{ color: #FDB243; }
							}
						}

						i{
							display: inline-block;
							width: 18px;
							height: 12px;
							background-repeat: no-repeat;

							&.correo{
								background-image: url('../images/mail-icon.png');
							}

							&.telefono{
								background-image: url('../images/phone-icon.png');
							}
						}
					}
				}

				.info-bottom{
					text-align: justify;
					width: 94%;
					display: inline-block;
					padding-top: 18px;

					p{
						font-size: 14px;
						font-style: italic;
					}

					span{ margin-top: 4px; display: inline-block; font-style: italic; font-size: 14px; font-weight: 600;}
				}
			}
		}

		.title{
			text-align: justify;
			color: #63A1FB;
			padding-bottom: 4px;
			font-size: 16px;
		}

		.product-description{
			text-align: justify;
			font-size: 15px;
			line-height: 17px;
			margin-bottom: 18px;
		}

		.upload-ubicacion{

			ul{
				width: 100%;
				display: inline-block;
				margin-top: 10px;

				li{
					width: 13%;
					float: left;
					display: inline-block;

					label{
						display: inline-block;
						margin-top: 7px;
						width: 101px;
					}

					#direccion{
						width: 200px;
					}
				}
			}
		}

		.back-to-category{ 
			width: 100%;
			margin-top: 21px;

			a{ 
				float: right;
				border: 0;
				background-color: #63A1FB;
				background-image: none;
				border-radius: 0;
				width: 107px;
				color: #FFF;
				padding: 5px;

			}

		}

		.customer-reviews{
			text-align: justify;

			h4{
				.title;
			}

			.write-reviews{
				text-align: justify !important;

				.step{
					margin-top: 17px;
					margin-bottom: 17px;
				}
			}

			textarea{
				width: 481px;
				margin-bottom: 18px;
			}

			.highlight-button{ width: 200px; }

			.ratingbox{ display: none; }
		}
	}
}

#lateral{

	.moduletable{
		width: 243px;
		margin-bottom: 20px;
	}

	.cat-m{
		border: 1px solid #aeadb3;
		box-shadow: 2px 1px 10px rgba(0,0,0,0.4);
		-webkit-box-shadow: 2px 1px 10px rgba(0,0,0,0.4);
		border-radius: 11px;
		text-align: left;
		padding: 19px 12px;

		dl{

			dt.level1{
				display: none;
			}

			dd.level1 {

				dl.level2{

					dt.parent{
						position: relative;

						&:after{
							content: '';
							position: absolute;
							width: 0;
						    height: 0;
						    border-left: 5px solid transparent;
						    border-right: 5px solid transparent;
						    border-top: 8px solid #000;
							right: 8px;
							top: 10px;
						}
					}

					dt.level2 {
						color: #000;
						font-family: @open;
						border: 0;

						a{
							color: #000;
							text-decoration: none;
						}

						&:hover{
							text-decoration: underline;
						}
					}

					dt.active{
						.background-menu;

						a{
							color: #FFF;
							text-decoration: none;
						}
					}

					dd.level2{

						dl.level3{

							dt.level3{
								position: relative;

								&:after{
									content: '';
									position: absolute;
									width: 0;
									height: 0;
									border-top: 5px solid transparent;
									border-left: 8px solid #FFF;
									border-bottom: 5px solid transparent;
									left: 8px;
									top: 8px;
								}

								&:before{
									content: '';
									position: absolute;
									background: #63A1FB;
									width: 100%;
									height: 98%;
									z-index: -1;
								}

								a{
									color: #FFF;
									text-decoration: none;
									margin-left: 22px;
								}

								&:hover{
									.background-menu;
								}
							}

							dt.active{
								.background-menu;
							}
						}
					}
				}
			}
		}
	}

	.moduletable.face, .moduletable.twi{
		width: 243px;
		margin-top: 20px;
		border: 1px solid #aeadb3;
		box-shadow: 2px 1px 10px rgba(0,0,0,0.4);
		-webkit-box-shadow: 2px 1px 10px rgba(0,0,0,0.4);
		border-radius: 11px;
		padding: 19px 12px;
		margin-bottom: 0;

		h3{
			background-color: @tituloscat;
			color: #FFF;
			padding: 7px 0;
			font-size: 23px;
			background-image: url(../images/icono-fb.png);
			background-repeat: no-repeat;
			background-position: 15px 4px;
			margin-bottom: 10px;
		}
	}

	.moduletable.twi{

		h3{
			background-color: @tituloscat;
			color: #FFF;
			padding: 7px 0;
			font-size: 23px;
			background-image: url(../images/icono-tw.png);
			background-repeat: no-repeat;
			background-position: 15px 4px;
			margin-bottom: 10px;
		}
	}

}