header {
	.size(100%, auto);
	float: left;
	text-align: center;


	#banner {
		position: relative;
		.size(1900px, 464px);
		margin: 0 auto;
		display: inline-block;

		.default-simple .ju-slide-desc .label-title {
			text-transform: uppercase;
			margin-bottom: 0;
			line-height: 1;
			font-size: 20px;
		}

		.default-simple .ju-slide-desc {
			background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
			color: #FFFFFF;
			left: 55%;
			bottom: 15%;
			width: 500px;
			height: auto;
			max-height: 210px;
			text-align: center;
		}


		.ju-slideshow .ju-slide-desc-inner {
			display: inline-block;
			max-height: 100%;
			max-width: 100%;
			overflow: hidden;
			text-align: center;
			width: auto;
		}

		&:before {
			position: absolute;
			.size(1920px, 474px);
			content: "";
			top: 0;
			left: 0;
			background: url("../images/inicio/mascara.png");
			z-index: 200;
		}

	}


	#header-center-top {
		position: relative;
		z-index: 205;
		.size(1000px, 474px);
		margin: -464px auto 0 auto;

		#logo-tsb {
			.size(395px, 430px);
			float: left;
			margin-left: -30px;
    		margin-top: 10px;
		}
		.greeting{ display: inline-block; margin-top: 4px;	
			b , a { 
				color: @blanco;
			}		
		}
		span.logout-button{
			display: inline-block;
			float: right;

			input[type="submit"]{
				margin-right: 5px;
				background-color: @azul!important;
				background-image: none!important;
				font-family:@open;
				font-size: 14px;
				color: @blanco;


				&:hover{
					background-color: @darkhover!important;
					padding: 3px 5px!important;
					border: 1px solid @azul!important; 
					color: @azul;
				}
			}
		}
		#login {
			.size(435px, auto);
			float: right;
			padding: 8px 10px;
			background: #000000; /* Old browsers */
			background: -moz-linear-gradient(top,  #000000 0%, #3c3a3a 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#3c3a3a)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #000000 0%,#3c3a3a 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3c3a3a',GradientType=0 ); /* IE6-9 */
			margin-top: 7px;
			text-align: left;
			border-radius: 8px;
			box-shadow: 6px 6px 6px rgba(0,0,0,0.7);
			-webkit-box-shadow: 6px 6px 6px rgba(0,0,0,0.7);

			input {
				.size(158px, auto);
				border-radius: 5px;
				margin-bottom: 0;
				border: 0;
				padding: 4px 5px;
				background: #e5e5e6; /* Old browsers */
				background: -moz-linear-gradient(left,  #e5e5e6 0%, #ffffff 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e5e5e6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  #e5e5e6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  #e5e5e6 0%,#ffffff 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  #e5e5e6 0%,#ffffff 100%); /* IE10+ */
				background: linear-gradient(to right,  #e5e5e6 0%,#ffffff 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e6', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

			}

			button {
				background: @azul;
				border: 0;
				color: @blanco;
				cursor: pointer;
				padding: 2px 4px;
				border-radius: 5px;
				text-transform: capitalize;
				margin-top: 5px;
				&:hover { background-color: @darkhover; border: 1px solid @azul; padding: 1px 4px; 1px; }
			}

			span.lostpassword {
				color: @azul;
				font-size: 9px;
				margin-left: 15px;
				margin-right: 40px;

				a{color: @azul; text-decoration: none;}
			}

			span.registration {
				color: @azul;
				font-size: 9px;
				margin-left: 49px;

				a{color: @azul; text-decoration: none;}
			}

		}
	}
}


#warp-cont {
	.size(100%, auto);
	display: inline-block;
	text-align: center;

	#content {
		.size(1000px, auto);
		margin: 0 auto;
		display: inline-block;

		#share {
			.size(207px, 43px);
			float: right;
			clear: both;
			ul {
				li > * {display: inline-block; vertical-align: text-bottom;}

				li {
					display: inline-block;
					color: @azul;
					font-size: 15px;
					padding-right: 7px;

					&:nth-child(2){border-right: 1px solid #ccc;}
					&:nth-child(3){border-right: 1px solid #ccc;}
				}
			}
		}

		nav {
			.size(900px, 50px);
			margin: 7px auto 35px auto;
			clear: both;
			background: #000000; /* Old browsers */
			background: -moz-linear-gradient(top,  #000000 0%, #3c3a3a 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#3c3a3a)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #000000 0%,#3c3a3a 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #000000 0%,#3c3a3a 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3c3a3a',GradientType=0 ); /* IE6-9 */
			display: inline-block;
			border-radius: 5px;
			box-shadow: 6px 6px 6px rgba(0,0,0,0.7);
			-webkit-box-shadow: 6px 6px 6px rgba(0,0,0,0.7);

			.menu {
				margin-top: 14px;
				li {
					position: relative;
					display: inline-block;
					margin-right: 20px;

					&:after {
						position: absolute;
						content: "/";
						right: -14px;
						opacity: 0.3;
						top: -3px;
						color: @azul;
						font-family: 'Open Sans', sans-serif;
						font-size: 25px;
						font-weight: 100;
					}

					&:last-child {
						margin-right: 0px;
					}

					&:last-child:after {
						content: "";
					}

					a {
						font-size: @smallFont;
						text-transform: uppercase;
						color: @azul;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}

					ul{
						.background-menu;
						max-height: 0;
						min-width: 50px;
						width: 198px;
						overflow: hidden;
						position: absolute;
						z-index: 999;
						top: 28px;
						left: -15px;
						transition: max-height .8s .5s;
						-moz-transition: max-height .8s .5s;
						-o-transition: max-height .8s .5s;
						-webkit-transition: max-height .8s .5s;
						margin-top: 8px;
						border-bottom-right-radius: 8px;
						border-bottom-left-radius: 8px;

						li{
							display: block;	
							padding: 8px;
							border: none;
							margin: 0;
							text-align: left;
							border-bottom: 1px solid;

							&:hover{
								background: @tituloscat;
							}
						}

						li a{
							color: @blanco;
							font-size: 12px;

							&:hover{
								color: @base !important;
								text-decoration: none;
							}
						}	
   					}

   					&:hover{

   						ul{
							max-height: 610px;
						}
					}
				}
			}
		}

		#lateral {
			.size(269px, auto);
			float: left;

			.moduletablebuscador {
				padding: 5px 0;
				border-radius: 10px;
				border: 1px solid #aeadb3;
				box-shadow: 2px 1px 10px rgba(0,0,0,0.4);
				-webkit-box-shadow: 2px 1px 10px rgba(0,0,0,0.4);
			}

			.moduletablepublicidad {
				margin: 20px 0;

				img {
					box-shadow: 6px 1px  4px rgba(0,0,0,0.4);
					-webkit-box-shadow: 6px 1px  4px rgba(0,0,0,0.4);
				}
			}
		}

		#content-right {
			.size(680px, 500px);
			float: right;

			h3 {
				color: @azul;
				text-transform: uppercase;
				margin-bottom: 10px;
				font-weight: 600;
			}

			.moduletablebienvenidos {
				h3 {
					font-size: @titlefont;
				}

				p {
					font-size: @baseFontSize;
					padding: 0 100px;
				}
			}

			.moduletabledestacado {
				h3 {
					text-align: left;
					margin: 30px 0;
					font-size: 20px;
				}
			}

		}

		#clientes {
			.size(1000px, 130px);
			clear: both;
			// border:2px solid #B6B7B6;
			// position: relative;
			margin-top: -24px;
			margin-bottom: 10px;
			display: inline-block;
			overflow-y: hidden;

			h3 {
				// position: absolute;
				// right: -1px;
				// top: -38px;
				display: inline-block;
				float: right;
				margin-bottom: 5px;
				background: @azul;
				color: @blanco;
				text-transform: uppercase;
				padding: 7px 15px;
			}
		}
		
	}
}

// destacados

#clientes {
	width: 1000px;
	height: 130px;
	clear: both;
	margin-top: 25px !important;
	margin-bottom: 10px;
	display: inline-block;
	overflow-y: hidden;
}

.destacados a{
	text-decoration: none;
	color: #FFF;
}

.destacados {

	tr {

		td {

			.img-destacado {
			    background-color: #ffffff;
			    border-top: 1px solid #e0e0e0;
			    .box-shadow( 0 11px 5px rgba(0, 0, 0, 0.1) );
			    height: 152px;
			    position: relative;
			    text-align: center;
			    width: 152px;
			    .border-radius( 100% );
			    border: 4px solid @azul;
			    margin: auto auto 35px;
			    overflow: hidden;

			    img { .border-radius(100%); }

			    &:hover {

			    	border: 4px solid @blanco;

			    	.description-destacado { top:0;  }

			    }
				
				.description-destacado {
				    position: absolute;
				    top: 100%;
				    left: 0;
				    padding: 4px 5px;
				    margin: 0;
				    width: auto;
				    height: 144px;
				    overflow: hidden;
					background-color: #000;
				    opacity: 0.8;
				    border-radius: 100%;
				    text-align: center;
				    .transition( top 600ms );

				    .titulo {
				    	margin-top: 30px;
						margin-bottom: 8px;
						color: @azul;
						font-weight: 600;
						display: inline-block;
						width: 100%;

				    	a {
							color: @azul;
							font-weight: 600;
							font-size: @mediumFont;
							text-decoration: none;
							&:hover {text-decoration: underline;}

				    	}
				    }
				    p {
						color: @blanco;
						font-size: @smallFont;
				    }
				}
			}
		}
	}
}

.lof-ass { float: right; }

.lof-ass .lof-main-wapper .lof-main-item img {
	padding: 0px 29px;
	border-right: 1px solid #D3D3D3;
}

.hotcarousel .carousel-control {
    display: none;
    height: 136px;
}

.hotcarousel img {
    border-right: 1px solid #B6B7B6;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    margin: 0 3px;
    padding: 0 5px 0 0;
}

.hotcarousel ul {
    margin: 9px 0 0 !important;
    padding: 0;
    right: auto !important;
}

.hotcarousel .js {
    height: 73px;
    overflow: hidden;
    width: 996px;
    border:2px solid #B6B7B6;
}

#system-message-container{color: red;}

//Estilos de el buscador avanzado


.modbuscador{
	background: #fff;
	box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.24);
	border-radius: 10px;
	padding: 15px 5px;

	h3{
		color: @azul;
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 16px;
	}
	 textarea,  input[type="text"], input[type="password"], input[type="email"],select {
		background-color: #ECECEC;
		margin-bottom: 10px;
		width: 80%;
		border: 1px solid #cccccc;
		padding: 7px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
		-o-transition: border linear 0.2s, box-shadow linear 0.2s;
		transition: border linear 0.2s, box-shadow linear 0.2s;
	}

	label{
		width: 83%;
		display: inline-block;
		text-align: left;
		font-family: @open;
		font-size: 14px;
		color: #555555;
		margin-bottom: 5px;
	}


	input[type="submit"], button[type="submit"]{
		margin: 11px 0;
		background-color: @azul;
		background-image: none;
		font-family:@open;
		font-size: 14px;
		border: none;
		border-radius: 3px;
		width: 90px;
		color: #fff;

		&:hover{
			background-color: @darkhover;
		}
	}
	input[type="reset"], button[type="reset"], button{
		margin: 11px 0;
		background-color: @azul;
		background-image: none;
		font-family: @open;
		font-size: 14px;
		border: none;
		border-radius: 3px;
		margin-right: 10px;
		color: #fff;

		a{ color: #fff; text-decoration: none;}

		&:hover{background-color: @darkhover;}
	}
}




