.contentedit { 
	.tabs {

		.perfil-off { 
			background: @blanco;  
			color: #4d4d4d; 
			border-radius: 15px 0 0 0;
			box-shadow: -1px -3px 3px 1px #ccc;
		}

		.anuncios-on  { 
			background:  @azul;
			cursor: pointer;
			color: @blanco;
			border-radius: 0 15px 0 0; 
			box-shadow: 2px -3px 3px 1px #ccc;
		}
	 			
	}	
	.lista-anuncios{
		clear: both;
		box-shadow: 1px 1px 5px 2px #ccc;
		padding: 20px 0;
		margin-bottom: 20px;

		table{
			width: 95%;
			border-radius: 7px;
			box-shadow: 1px 0px 6px 3px #ccc;
			margin: 28px auto;

			td{padding: 10px; text-align: left;}

			h2, a{
				font-size: 19px;
				margin: 5px 0 0;
				font-weight: bold;
			}

			a{
				text-decoration: none;
				color: @azul;
			}
			
			.image{
				position: relative;
			}
			.ubicacion{
				font-size: 15px;
				margin: 2px; 0 0;
				color: @azul;
			}

			.precio{
				color: @rojo;
				font-weight: bold;
			}

			.eliminar{
				background: url("../templates/tsbcatalogo/img-anuncios/caneca-azul.png") no-repeat @blanco 5px 4px;
				display: inline-block;
				width: 34px;
				height: 30px;
				box-shadow: 0px 0px 3px 1px #ccc;
				border-radius: 4px;
				float: right;
				padding: 3px 0 3px;
			}

			button{
				border: 1px solid #ccc;
				float: right;
				padding-left: 30px;
				font-weight: bold;

				&.desactivar-button{
					color: #9A999E;
					background: url("../templates/tsbcatalogo/img-anuncios/circulo-gris-x.png") no-repeat #fff 7px 3px;
				}

				&.activar-button{
					color: @verde;
					background: url("../templates/tsbcatalogo/img-anuncios/chulo-verde.png") no-repeat #fff 9px 7px;
				}

				&.reactivar{
					color: @verde;
					background: url("../templates/tsbcatalogo/img-anuncios/chulo-verde.png") no-repeat #fff 9px 7px;
				}
			}
			&.a_inactivo{
				h2, .ubicacion, p, .precio{
					color: #ccc;
				}

				.aviso{
					color:@blanco;
					display: inline-block;
					width: 100%;
					height: 30px;
					text-align: center;
					position: absolute;
					top: 39%;
					padding-top: 7px;
					font-weight: bold;
					background: url("../templates/tsbcatalogo/img-anuncios/flecha-gris.png") no-repeat 0px 0px;
				}
			}

			&.a_vencido{
				h2, .ubicacion, p, .precio{
					color: #ccc;
				}

				.reactivar{
					color: @verde;
				}

				.aviso{
					color:@blanco;
					display: inline-block;
					width: 100%;
					height: 30px;
					text-align: center;
					position: absolute;
					top: 39%;
					padding-top: 7px;
					font-weight: bold;
					background: url("../templates/tsbcatalogo/img-anuncios/flecha-roja.png") no-repeat 0px 0px;
				}
			}
		}

		.wrapper-paginator{
			width: 100%;

			& > { font-family: 'Open Sans' }

			ul{
				display: inline-block;

				li{
					width: auto;
					display: inline-block;
					float: left;
					margin: 4px;

					&:first-child, &:last-child{

						a{
							border: none;
							width: 85px;
							background: none;
							box-shadow: none;
						}
						
					}

					a{
						width: 13px; 
						height: 15px;
						display: inline-block;
						padding: 5px;
						text-decoration: none;
						border: 1px solid #aeadb3;
						color: #4d4d4d;
						background-color: #F8F8F8;
						border-radius: 3px;
						font-size: 13px;
						box-shadow: 0px 0px 1px 0px #4d4d4d;

					}

					&.active{
						a{
							background: #67A4FB;
							border: 1px solid #FFF;
							color: #FFFFFF;
							border-radius: 3px;
							box-shadow: 0px 0px 0px 2px #67A4FB;
						}
					}
				}
			}
		}
	}
}	