/**
* Modal box
*
*/
.em-over-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    .size( 100%, 100% );
    z-index: 9999;
    background-color: rgba(45, 49, 51, 0.9);
    color: #FFF;
}

.em-modal-box {
    display: none;
    position: fixed;
    top: 50%;
    box-shadow: 1px 2px 3px 2px #666;
    border-radius: 12px;
    left: 50%;
    width: 675px;
    margin-left: -335px;
    min-height: 550px;
    background-color: #fff;
    z-index: 99999;
    .transition( height 600ms );
    padding-bottom: 13px;

       .header {
            display: inline-block;
            width: 100%;
            background-color: #FFF;
            color: #6F6F6F;
            margin-top: 10px;

            .modal-title{ 
                text-align: left;
                font-family: @open;
                font-size: 21px;
                color: #67A4FB;
                margin: 20px 0 3px 36px;
            }



           .close-modal-button {
                position: absolute;
                top: -11px;
                right: -56px;
                width: 74px;
                height: 83px;
                cursor: pointer;
                z-index: 8040;
                background: url("../templates/tsbcatalogo/img-anuncios/x-cerrar.png") no-repeat ;
                color: transparent;
            }

       }

       .body {
            display: block;
            padding: 35px 22px 14px;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            background-color: #fff;
            margin-left: 10px;
            margin-right: 10px;
            margin: 0 auto;

            .bx-controls{
                .bx-prev{
                    background: url("../templates/tsbcatalogo/img-anuncios/flecha_1.png") no-repeat ;
                    height: 60px;
                    margin-left: -35px;
                }
                .bx-next{
                    background: url("../templates/tsbcatalogo/img-anuncios/flecha_2.png") no-repeat ;
                    height: 60px;
                    margin-right: -35px;                    
                }
            }

            .bx-viewport{
                box-shadow: none;
                border: none;
            }
            li{ padding: 10px 5px; margin: 0 7px;
                .planes{ 
                    box-shadow: 1px 2px 3px 2px #ccc;
                    width: 95%;
                    border-radius: 12px;
                    .p_planes{
                        display: table;
                        width: 100%;
                        
                        tbody{display: block;}
                        tr{display: block;
                            td{
                                display: block;
                                p{
                                    display: block;

                                    &.title{
                                        width: 100%;
                                        padding: 5px 0;
                                        text-align: center;
                                        background:@azul;
                                        color: @blanco;
                                        font-size: 16px;
                                        border-radius: 12px 12px 0 0;
                                    }
                                }
                                &.p_tiempo{
                                    background: #EDEEF0;
                                    padding: 10px 0;
                                    border-bottom: 1px solid #919090;
                                }
                                &.p_description{
                                    background: #F7F7F8;
                                    padding: 10px 0;
                                    border-bottom: 1px solid #919090;
                                }
                                &.p_price{
                                    background: #EDEEF0;
                                    padding: 10px 0;
                                    border-bottom: 1px solid #919090;
                                }
                                &.p_plan{
                                    background: #F7F7F8;
                                    padding: 10px 0;
                                    border-bottom: 1px solid #919090;
                                }
                                &.p_descuento{
                                    background: #EDEEF0;
                                    padding: 10px 0;
                                }
                            }
                        }
                    }
                }
            }    

            * { display: inline-block; vertical-align: middle; }
       }
}