//variables base de todo el proceso de anuncios

/**
*
* variables to use in less
*
*/

// Site Standard colors
@gris: #636363;
@grisdark: #333333;
@White: #FFFFFF;
@bodyBackground: #fff;
@bodyColor: #F9F9F9;
@linkColor:	@taikoRed;
@cafe: #E9D9C8;
@azul: #63a1fb;
@gris: #4d4d4d;
@blanco: #fff;
@verde: #006837;
@azulclaro: #afddf9;
@azulporta: #0066d4;
@grisclaro: #fdfdfd;
@tituloscat:#67A4FB;
@black: #000000;
@red: #C94247;
@verde: #70A83B;
@darkhover :#211915;
@rojo:#BF0411;

@darkRed: lighten ( @taikoRed, 10%);



// Font size
@baseFontSize: 15px;
@tinyFont: 10px;
@smallFont: 13px;
@normalFont: 14px;
@mediumFont: 16px;
@middlefont: 13px;
@largeFont: 23px;
@xLargeFont: 22px;
@bigFont: 30px;
@biggerFont: 32px;
@margin: 0 auto;
@titlefont: 24px;
@subtitlefont: 28px;
@notiFont: 30px;
@titlecontFont:50px;
@portatitleFont:40px;

//line height
@line: 18px;


// Font Family
@fontMenu: 'Rancho', cursive;
@titles: 'Shadows Into Light', cursive;
@content: 'Noto Sans', sans-serif;
@subtitles: 'Playball', cursive;
@open: 'Open Sans', sans-serif;
